[Unit]
Description=Connection service
After=syslog.target

[Service]
Type=dbus
BusName=net.connman
ExecStart=@prefix@/sbin/connmand -n -I eth0

[Install]
WantedBy=multi-user.target
