[Unit]
Description = /var/lib/dbus/machine-id bind mount for RO setups
Before = dbus.service
Wants = dbus-uuidgen.service
After = dbus-uuidgen.service
Wants = dbus-machine-ids.service
After = dbus-machine-ids.service

[Mount]
What = /run/dbus-machine-id
Where = /var/lib/dbus/machine-id
Type = bind
Options = bind
