[Unit]
Description = /etc/machine-id firstboot
ConditionPathExists = !/var/lib/firstboot/machine-id
Before = dbus.service

[Service]
Type = oneshot
ExecStartPre = /bin/sh -c "test -s /etc/machine-id || rm -f /etc/machine-id"
ExecStart = /bin/touch /var/lib/firstboot/machine-id

[Install]
WantedBy = firstboot.target
