[Unit]
Description = opkg firstboot
ConditionPathExists = !/var/lib/firstboot/opkg
ConditionFileIsExecutable = /usr/bin/opkg-cl

[Service]
Type = oneshot
ExecStart = /usr/bin/opkg-cl configure
ExecStartPost = /bin/touch /var/lib/firstboot/opkg

[Install]
WantedBy = firstboot.target
