## --*- conf -*--
[Match]
Name = @BOOTDEV@
KernelCommandLine = ip=:::::@BOOTDEV@:

[Network]
DHCP = both

[DHCP]
CriticalConnection = true
SendHostname = false
UseDomains = true
SendClientId = false
